body {
    background-color: lightcoral;
}
h1{
    color: red;
}
#hm1{
    color: blue;
}

p{
    color: darkolivegreen;
}

.cl1{color: gray; font-weight: bold }
div h3{
    color: #00ff5f;
}