body {
    background-color: orange;
}
h1{
    color: red;
}
#hm1{
    color: blue;
}

p{
    color: darkolivegreen;
}

.cl1{color: gray; font-weight: bold }
div h3{
    color: #00ff5f;
}

.borde{
    border-style: solid;
    border-color: maroon;
    border-collapse: collapse;
}